.Y20250402 {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  width: 30%;
  display: inline-block;
  margin: 10px;
  padding: 1%;
}